CLOUDFLARE_TUNNEL_TOKEN=
OPENHEALTH_DATABASE_URL=
POSTGRES_PASSWORD=
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=
OPENHEALTH_USER_ADMIN_PASSWORD=
OPENHEALTH_USER_ADMISSION_PASSWORD=
OPENHEALTH_USER_AUDITOR_PASSWORD=
OPENHEALTH_USER_BILLING_PASSWORD=
OPENHEALTH_USER_DOCTOR_PASSWORD=
OPENHEALTH_USER_SUPPORT_PASSWORD=
POSTGRES_DATA_DIR_HOST=./data/postgres
KEYCLOAK_DATA_DIR_HOST=./data/keycloak
POSTGRES_BACKUP_DIR_HOST=./backups/postgres
