KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
OPENHEALTH_REALM=openhealth
OPENHEALTH_USER_ADMIN_PASSWORD=
OPENHEALTH_USER_ADMISSION_PASSWORD=
OPENHEALTH_USER_AUDITOR_PASSWORD=
OPENHEALTH_USER_BILLING_PASSWORD=
OPENHEALTH_USER_DOCTOR_PASSWORD=
OPENHEALTH_USER_SUPPORT_PASSWORD=
